.container {
  background-color: #ffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  width: 100%;
  height: fit-content;
  margin-top: 1.25rem;
  margin-right: 1rem;

  @media (min-width: 640px) {
    width: 20rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .title {
      font-size: 1.125rem;
      font-weight: bold;
      color: #4a5568;
    }

    .clearButton {
      font-size: 0.875rem;
      background-color: #f56565;
      color: #ffff;
      font-weight: 600;
      padding: 0.25rem 0.75rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e53e3e;
      }
    }
  }

  .accordion {
    display: flex;
    flex-direction: column;
  }
}
