.container {
  margin-bottom: 1.5rem;

  h1 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
    color: #333;
  }

  h5,
  h6 {
    text-align: center;
    color: #555;
  }

  .title {
    color: #007bff;
  }

  .subtitle .description {
    text-align: center;
  }
}
