.container {
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

.filter {
  flex: 1;
}

.message {
  margin: auto;
  text-align: center;

  &.loading {
    margin-top: 1.25rem;
    font-size: 1rem;
  }

  &.error {
    margin-top: 1.25rem;
    color: #dc2626;
    font-size: 1rem;
  }
}
